In [3]:
import pandas as pd

In [41]:
dataset = pd.read_csv("Startups.csv")

In [42]:
dataset

    R&D Spent  Administration Spent  Marketing Spent    State  Profit
0       14500                 12300            12400  Chennai   16400
1       13500                 12000            15000  Kolkata   14500
2       12300                 12500            14500   Mumbai   15500
3       17456                 13546            13546    Dehli   19400
4       13456                 13345            12356  Chennai   14550
5       15000                 12700            14000  Kolkata   16000
6       16000                 13000            15000   Mumbai   17500
7       17000                 12900            16000  Chennai   18500
8       14000                 12800            13500   Mumbai   15800
9       12500                 12200            12000  Kolkata   14200
10      15500                 14000            13000    Dehli   17800
11      14800                 13800            12800  Chennai   16900
12      15200                 13400            13200   Mumbai   17100
13      13800                 12600            11900  Kolkata   15000
14      14300                 13100            14500    Dehli   16300
15      16500                 13300            15500   Mumbai   18300
16      15700                 12800            14800  Chennai   17200
17      14600                 12700            12600  Kolkata   15900
18      15800                 13500            14700   Mumbai   17700
19      16000                 13900            15200    Dehli   18000

In [43]:
print("Column names:", dataset.columns.tolist())

Column names: ['R&D Spent', 'Administration Spent', 'Marketing Spent', 'State', 'Profit']

In [51]:
dataset_encoded = pd.get_dummies(dataset,drop_first=True,dtype=int)

In [52]:
dataset_encoded

,R&D Spent,Administration Spent,Marketing Spent,Profit,State_Dehli,State_Kolkata,State_Mumbai
0,14500,12300,12400,16400,0,0,0
1,13500,12000,15000,14500,0,1,0
2,12300,12500,14500,15500,0,0,1
3,17456,13546,13546,19400,1,0,0
4,13456,13345,12356,14550,0,0,0
5,15000,12700,14000,16000,0,1,0
6,16000,13000,15000,17500,0,0,1
7,17000,12900,16000,18500,0,0,0
8,14000,12800,13500,15800,0,0,1
9,12500,12200,12000,14200,0,1,0
10,15500,14000,13000,17800,1,0,0
11,14800,13800,12800,16900,0,0,0
12,15200,13400,13200,17100,0,0,1
13,13800,12600,11900,15000,0,1,0
14,14300,13100,14500,16300,1,0,0
15,16500,13300,15500,18300,0,0,1
16,15700,12800,14800,17200,0,0,0
17,14600,12700,12600,15900,0,1,0
18,15800,13500,14700,17700,0,0,1
19,16000,13900,15200,18000,1,0,0

In [53]:
dataset_encoded.columns

Index(['R&D Spent', 'Administration Spent', 'Marketing Spent', 'Profit',
       'State_Dehli', 'State_Kolkata', 'State_Mumbai'],
      dtype='object')

In [54]:
independent = dataset_encoded[['R&D Spent', 'Administration Spent', 'Marketing Spent', 'State_Dehli', 'State_Kolkata', 'State_Mumbai']]

In [55]:
independent

,R&D Spent,Administration Spent,Marketing Spent,State_Dehli,State_Kolkata,State_Mumbai
0,14500,12300,12400,0,0,0
1,13500,12000,15000,0,1,0
2,12300,12500,14500,0,0,1
3,17456,13546,13546,1,0,0
4,13456,13345,12356,0,0,0
5,15000,12700,14000,0,1,0
6,16000,13000,15000,0,0,1
7,17000,12900,16000,0,0,0
8,14000,12800,13500,0,0,1
9,12500,12200,12000,0,1,0
10,15500,14000,13000,1,0,0
11,14800,13800,12800,0,0,0
12,15200,13400,13200,0,0,1
13,13800,12600,11900,0,1,0
14,14300,13100,14500,1,0,0
15,16500,13300,15500,0,0,1
16,15700,12800,14800,0,0,0
17,14600,12700,12600,0,1,0
18,15800,13500,14700,0,0,1
19,16000,13900,15200,1,0,0

In [58]:
dependent = dataset_encoded[['Profit']]

In [59]:
dependent

    Profit
0    16400
1    14500
2    15500
3    19400
4    14550
5    16000
6    17500
7    18500
8    15800
9    14200
10   17800
11   16900
12   17100
13   15000
14   16300
15   18300
16   17200
17   15900
18   17700
19   18000

In [60]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

In [61]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [63]:
weight = regressor.coef_
weight

array([[ 8.27373252e-01, -2.12444114e-01,  1.95325436e-02,
         5.44609746e+02, -6.39560642e+02,  4.52752568e+02]])

In [64]:
bias=regressor.intercept_
bias

array([6724.84582042])

In [65]:
y_predict = regressor.predict(x_test)

In [66]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test, y_predict)

In [67]:
r_score

0.9267169963550408

In [68]:
import pickle
filename = "finalized_modal_multiple_linear.sav"

In [69]:
pickle.dump(regressor, open(filename, 'wb'))

In [72]:
loaded_modal= pickle.load(open(filename, 'rb'))
result=loaded_modal.predict([[14500, 12000, 23000, 0, 0, 0]])

C:\Users\akila\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [73]:
result

array([[16621.67711885]])